#content, #header{
	margin: 0 auto;
	padding-top: 40px;
	padding-left: 30px;
	padding-right: 30px;
	max-width: calc(800px - (30px * 2));
	text-align: justify;
}

/*liste imbriquée avec tiret*/
ul ul {
   list-style-type: none;
}
ul ul li{
	margin-bottom: 5px;
}
ul ul li:before {
   content: '- ';
}

.operation{
	display: inline-block;
}
.matrix{
	display: inline-block;
	vertical-align: middle;
	border-left: 1px solid;
	border-right: 1px solid;
	padding: 2px;
}
.matrix td {
    padding: 2px;    
    text-align: center;
}