nav{
	cursor: default;
	display: block;
	position: relative;
	background-color: rgba(43,17,102,0.9);
	color: #FDFDFD;	
	transition: all 0.4s ease-in;
}

nav ul li{
	display: inline-block;
	padding: 5px;
}

nav a{
	color: #FDFDFD;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}
nav a:hover, nav a:focus{
	color: #E8D800;
}