/* Override things */
#wrapper{
	height: 100%;
	padding: 0;
}

#footer {
  font-size: 14px;
  padding: 10px 0;
  width:100%;
  height: 90px;
  position: relative;
  margin-top: 20px;
}
/* end overrides */

/*POST LAYOUT*/

.post .sommaire{
	margin: 0 auto;
	padding-top: 40px;
	padding-left: 30px;
	padding-right: 30px;
	max-width: calc(800px - (30px * 2));
	text-align: justify;
}

.post #header{
  position: relative;
  height: 100%;
  margin: 0;
}

.sommaire-post{
	background-image: url('/pictures/geometry-1920_1080.jpg');
	background-size: cover;
	filter: blur(3px);
}

.post .fp-title-wrapper{
	
}

.post .fullpage-title{
	position: absolute;
	display: inline;	
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
}