<footer id="footer">
  <div id="inner-footer">
    <div>
      <i class="fa fa-github-square fa-2x animate-icon"></i>
      <a href="https://github.com/a-haas">a-haas</a>
    </div>
    <div>
      <i class="fa fa-envelope-o fa-2x animate-icon"></i>
      <a href="mailto:antoine.haas@etu.unistra.fr">antoine.haas@etu.unistra.fr</a>
    </div>
    <div>
      <i class="fa fa-linkedin fa-2x animate-icon"></i>
      <a href="https://www.linkedin.com/in/antoine-haas-b5229963">antoine-haas-b5229963</a>
    </div>
  </div>
</footer>
