<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <!-- Reset CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/reset.css" /> -->
    <!-- Font-Awesome -->
    <link rel="stylesheet" href="{{site.baseurl}}/lib/font-awesome-4.5.0/css/font-awesome.min.css" />
    <!-- Main css file -->
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css" />
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/post.css" />
    <script src='{{site.baseurl}}/lib/jquery/jquery-2.1.4.min.js'></script>
</head>