body{
	text-align: justify;
	font-family: helvetica, arial;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 300;
	color: #111;
	background-color: #FDFDFD;
}

header{
	text-align: center;
}

.wrapper{
	margin: 0 auto;
	padding: 0 30px;
	/*Do not really now*/
	max-width: calc(800px - (30px * 2));
}

.legende{
	display: inline-block;
	width: 10px;
	height: 10px;
	border: solid 1px;
}

.simple{
	background-color: #00FAFF;
}

.non-simple{
	background-color: #FE4D4D;
}